<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Currais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Dashboard Comparação de consumo Água-->
<ion-card class="welcome-card">
  <ion-card-header>
    <ion-card-title>Curral nº1</ion-card-title>
    <ion-card-subtitle>Video monitoramento ao vivo do curral nº1</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <video width="100%" controls>
      <source src="assets/video/porcos1.mp4" type="video/mp4">
    </video>
  </ion-card-content>
</ion-card>
<!--Dashboard Comparação de consumo Água-->
<ion-card class="welcome-card">
  <ion-card-header>
    <ion-card-title>Curral nº2</ion-card-title>
    <ion-card-subtitle>Video monitoramento ao vivo do curral nº2</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <video width="100%" controls>
      <source src="assets/video/porcos2.mp4" type="video/mp4">
    </video>
  </ion-card-content>
</ion-card>
</ion-content>
