<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Meu Painel de Controle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section text-center margin-bottom>
    <div class="container">
      <img src="/assets/img/login.png" width="100" height="100" />
  </div>
    <h1 style="font-size:1.4em" no-margin>Bem-Vindo, <br>
      Srº Maurício</h1>
  </section>
  <ion-grid >
    <ion-row>
      <ion-col col-6>
        <ion-card class="card"  text-center padding color="primary">
          <ion-icon class="logo" name="logo-octocat"></ion-icon>
          <h2>Meus Animais</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="card" text-center padding color="primary">
          <ion-icon class="logo" name="ios-pulse"></ion-icon>
          <h2>Gastos de Ração</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 >
        <ion-card class="card" text-center padding color="primary">
          <ion-icon Class="logo" name="md-paw"></ion-icon>
          <h3>Limpeza do curral</h3>
        </ion-card>
      </ion-col>
      <ion-col col-6 >
        <ion-card class="card" text-center padding color="primary">
          <ion-icon class="logo" name="md-medkit"></ion-icon>
          <h3>Cuidados Veterinário</h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
